.header-ad {
  border-color: #e5e7eb;
}
.ad-container {
  color: #6b7280;
}
.show-button {
  display: grid;
  font-size: 0.875rem;
  line-height: 1.25rem;
  place-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 9999px;
  cursor: pointer;
}
.show-button:hover {
  background-color: #e5e7eb;
}
.help-container {
  cursor: pointer;
}
.help-container:hover {
  background-color: #e5e7eb;
}
